@use "../abstracts/variables" as v;


header{
    background: v.$primaryColor;
    color: v.$primaryFontColor;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-between;
    
    h1{
        margin-left: .5rem;
    }
    ul{
        display: flex;
        flex-direction: row wrap;

        li{
            display:flex;
            margin: 0 .5rem;
         }
    } 
}      