$primaryColor : #2d3142;
$secondaryColor: #4f5d75;
$tertiaryColor: #bfc0c0;
$quaternaryColor: #ffffff;
$quinaryColor: #ef8354;





$primaryFontColor : #ffffff;
$secondaryFontColor: #ef8354;
$tertiaryFontColor: #4f5d75;
